
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Vand-AID</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<!--<li ng-class="{active : library.layout === 0}"><a href ng-click="library.layout = 0">Design 0 {{library.layout}}</a></li>-->
				<!--<li ng-class="{active : library.layout === 1}"><a href ng-click="library.layout = 1">Design 1</a></li>-->
				<!--<li class="disabled"><a href="#">Design 3</a></li>-->
				<li class="navbar-text">Active Interface Design powered by Vanderbilt</li>
			</ul>
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="redcapTest()"><span class="glyphicon glyphicon-floppy-save"></span>
						Save to REDCap</a></li>
					<li><a href="#" ng-click="loadFields()"><span class="glyphicon glyphicon-refresh"></span>
							Reset</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
