<div ng-if="componentCtrl.hasAny(['2019-8', '2703-7','1960-4','2708-6','1925-7'])">
  A: <lab loinc="2744-1"></lab>/<lab loinc="2019-8"></lab><span ng-show="fm.values.blood_gas_components___pao2">/<lab
      loinc="2703-7"></lab></span><span ng-show="fm.values.blood_gas_components___hco3">/<lab
      loinc="1960-4"></lab></span><span ng-show="fm.values.blood_gas_components___spo2">/<lab
      loinc="2708-6"></lab></span><span ng-show="fm.values.blood_gas_components___base">/<lab
      loinc="1925-7"></lab></span>
</div>
<div ng-if="componentCtrl.hasAny(['2746-6','2021-4','2705-2','14627-4','2711-0','1927-3'])">
  V: <lab loinc="2746-6"></lab>/<lab loinc="2021-4"></lab><span ng-show="fm.values.blood_gas_components___po2">/<lab
      loinc="2705-2"></lab></span><span ng-show="fm.values.blood_gas_components___spo2">/<lab
      loinc="14627-4"></lab></span><span ng-show="fm.values.blood_gas_components___base">/<lab
      loinc="1927-3"></lab></span>
</div>
<div ng-if="componentCtrl.hasAny(['11558-4', '111557-6','11556-8','20564-1','11555-0'])">
  C: <lab loinc="11558-4"></lab>/<lab loinc="11557-6"></lab><span ng-show="fm.values.blood_gas_components___po2">/<lab
      loinc="11556-8"></lab></span><span ng-show="fm.values.blood_gas_components___spo2">/<lab
      loinc="20564-1"></lab></span><span ng-show="fm.values.blood_gas_components___base">/<lab
      loinc="11555-0"></lab></span>
</div>
