<div layout="row">
  <table id="lytePanel" ng-show="componentCtrl.hasData">
    <tbody>
      <tr>
        <td style="border-bottom: thin solid black; border-right: thin solid black"><lab loinc="2951-2"></lab></td>
        <td style="border-bottom: thin solid black; border-right: thin solid black"><lab loinc="2075-0"></lab></td>
        <td style="border-bottom: thin solid black"><lab loinc="3094-0"></lab></td>
        <td class="right_v_stick" rowspan="2"><lab loinc="2345-7"></lab></td>
      </tr>
      <tr>
        <td style="border-right: thin solid black"><lab loinc="2823-3"></lab></td>
        <td style="border-right: thin solid black"><lab loinc="2028-9"></lab></td>
        <td><lab loinc="2160-0"></lab></td>
      </tr>
    </tbody>
  </table>
  <table ng-show="fm.values.electrolyte_components___ca || fm.values.electrolyte_components___mg || fm.values.electrolyte_components___phos">
    <tbody>
    <tr ng-show="fm.values.electrolyte_components___ca">
      <td>Ca: <lab loinc="17861-6"></lab></td>
    </tr>
    <tr ng-show="fm.values.electrolyte_components___mg">
      <td>Mg: <lab loinc="19123-9"></lab></td>
    </tr>
    <tr ng-show="fm.values.electrolyte_components___phos">
      <td>P: <lab loinc="17861-6"></lab></td>
    </tr>
    </tbody>
  </table>

</div>
